# Configuration file

general {
    # Item and Armor IDs that shine light when found on any EntityLiving. Syntax: ItemID:LightValue, seperated by commas
    S:LightItems=glowstone=12,glowstone_dust=8,lit_pumpkin,terrafirmacraft:item.Blue Steel Bucket Lava,redstone_torch=6,redstone=6,terrafirmacraft:Torch=12,terrafirmacraft:item.Ore-19=6

    # Update Interval time for all EntityLiving in milliseconds. The lower the better and costlier.
    I:"update Interval"=1000
}


