# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=875aae42-666c-41d1-9ef4-ef813af9788c

    # Set to true to disable all reporting
    B:opt-out=false
}


