# Configuration file

general {
    # Item IDs that shine light when dropped in the World.
    S:LightItems=glowstone=12,glowstone_dust=8,lit_pumpkin,terrafirmacraft:item.Blue Steel Bucket Lava,redstone_torch=6,redstone=6,terrafirmacraft:Torch=12,terrafirmacraft:item.Ore-19=6

    # Item IDs that do not shine light when dropped and in water, have to be present in LightItems.
    S:TurnedOffByWaterItems=terrafirmacraft:item.Blue Steel Bucket Lava,terrafirmacraft:Torch

    # Update Interval time for all Item entities in milliseconds. The lower the better and costlier.
    I:"update Interval"=1000
}


