# Configuration file

entitiesalwaysinfernal {
    B:EntityBlaze=true
    B:EntityCreeper=false
    B:EntityCreeperTFC=false
    B:EntityEnderman=false
    B:EntityEndermanTFC=false
    B:EntityMagmaCube=true
    B:EntityPigZombie=true
    B:EntityPigZombieTFC=false
    B:EntitySkeleton=false
    B:EntitySkeletonTFC=false
    B:EntitySlime=false
    B:EntitySlimeTFC=false
    B:EntitySpider=false
    B:EntitySpiderTFC=false
    B:EntityWitch=false
    B:EntityZombie=false
    B:EntityZombieTFC=false
}


entitybasehealth {
    D:EntityBlaze=20.0
    D:EntityCreeper=20.0
    D:EntityCreeperTFC=500.0
    D:EntityEnderman=40.0
    D:EntityMagmaCube=1.0
    D:EntitySkeleton=20.0
    D:EntitySkeletonTFC=1500.0
    D:EntitySpider=16.0
    D:EntitySpiderTFC=1800.0
    D:EntityWitch=26.0
    D:EntityZombie=20.0
    D:EntityZombieTFC=450.0
}


general {
    I:AntiMobFarmCheckInterval=30
    B:AntiMobfarmingEnabled=false
    B:"MM_1UP enabled"=true
    B:"MM_Alchemist enabled"=true
    B:"MM_Berserk enabled"=true
    B:"MM_Blastoff enabled"=true
    B:"MM_Bulwark enabled"=true
    B:"MM_Choke enabled"=true
    B:"MM_Cloaking enabled"=true
    B:"MM_Darkness enabled"=true
    B:"MM_Ender enabled"=true
    B:"MM_Exhaust enabled"=true
    B:"MM_Fiery enabled"=true
    B:"MM_Ghastly enabled"=true
    B:"MM_Gravity enabled"=true
    B:"MM_Lifesteal enabled"=true
    B:"MM_Ninja enabled"=true
    B:"MM_Poisonous enabled"=true
    B:"MM_Quicksand enabled"=true
    B:"MM_Regen enabled"=true
    B:"MM_Rust enabled"=true
    B:"MM_Sapper enabled"=true
    B:"MM_Sprint enabled"=true
    B:"MM_Sticky enabled"=true
    B:"MM_Storm enabled"=true
    B:"MM_Vengeance enabled"=true
    B:"MM_Weakness enabled"=true
    B:"MM_Webber enabled"=true
    B:"MM_Wither enabled"=true

    # Disables the ingame Health and Name overlay
    B:disableGUIoverlay=false

    # List of equally likely to drop Items for Elites, seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDsElite=iron_shovel,iron_pickaxe,iron_axe,iron_sword,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,cookie-0-6

    # List of equally likely to drop Items for Infernals, seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDsInfernal=diamond-0-3,diamond_sword,diamond_shovel,diamond_pickaxe,diamond_axe,diamond_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,diamond_helmet,diamond_chestplate,diamond_leggings,diamond_boots,ender_pearl,enchanted_book

    # List of equally likely to drop Items for Ultras, seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDsUltra=bow,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,golden_helmet,golden_chestplate,golden_leggings,golden_boots,golden_apple,blaze_powder-0-3,enchanted_book

    # One in THIS many Mobs will become atleast rare
    I:eliteRarity=15

    # One in THIS many already ultra Mobs will become infernal
    I:infernoRarity=7

    # highest amount of damage an Infernal Mob or reflecting Mod will do in a single strike
    D:maxOneShotDamage=100.0
    D:mobFarmDamageThreshold=150.0

    # Multiplier applied ontop of all of the modified Mobs health
    S:mobHealthFactor=1.0

    # One in THIS many already rare Mobs will become atleast ultra
    I:ultraRarity=7

    # Use Entity class names instead of ingame Entity names for the config
    B:useSimpleEntityClassnames=true
}


permittedentities {
    B:EntityBlaze=true
    B:EntityCreeper=true
    B:EntityCreeperTFC=false
    B:EntityEnderman=true
    B:EntityEndermanTFC=false
    B:EntityMagmaCube=true
    B:EntityPigZombie=true
    B:EntityPigZombieTFC=false
    B:EntitySkeleton=true
    B:EntitySkeletonTFC=false
    B:EntitySlime=true
    B:EntitySlimeTFC=false
    B:EntitySpider=true
    B:EntitySpiderTFC=false
    B:EntityWitch=true
    B:EntityZombie=true
    B:EntityZombieTFC=false
}


