#Inventory Tweaks Configuration
#(Regarding shortcuts, all key names can be found at: http://www.lwjgl.org/javadoc/org/lwjgl/input/Keyboard.html)
#Thu Jul 07 02:30:24 MDT 2016
enableMiddleClick=true
showChestButtons=true
enableSortingOnPickup=false
enableAutoRefill=false
autoRefillBeforeBreak=false
autoRefillDamageThreshhold=5
enableSounds=true
enableShortcuts=true
enableAutoEquipArmor=false
enableServerItemSwap=true
shortcutKeyAllItems=LCONTROL+LSHIFT+RCONTROL+RSHIFT
shortcutKeyEverything=SPACE
shortcutKeyOneItem=LCONTROL, RCONTROL
shortcutKeyToUpperSection=UP
shortcutKeyToLowerSection=DOWN
shortcutKeyDrop=LALT, RALT
version=1.58-147-645ca10
