# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=85a8e996-7e25-498b-849a-144d21528c11

    # Set to true to disable all reporting
    B:opt-out=false
}


